*{
    padding: 0;
    margin: 0;
}
.general{
/*    width:  100%;*/
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;

}

.titol{
    width: 100%;

    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logotext{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    min-width: 250px;
    height: 50px;
    display: flex;
    margin-left: 15px;

}
.logo{
    width: 90px;
    height: 100%;
    background-color: blueviolet;
}
.texttitol{
    width: 210px;
    height: 100%;
    background-color: coral;

}
.buscador{
    width: 150px;
    min-width: 150px;
    height: 22px;
    display: flex;
    padding-left: 15px;
    background-color: crimson;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.menu>li{


}
.menu a{
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: block;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;



}
.menu a:hover{

    background-color: gray;

}
.menu>li{

    float: left;
    width: 25%;

}
ul{

    list-style-type: none;

}
.principal{
    width: 100%;

    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}
.contingut{
    flex: 75%;
    background-color: azure;


    display: flex;
    flex-direction: column;


    justify-content: space-around;
    align-items: center;

/*    margin-left: 100px;*/
/*    margin-right: 50px;*/


}


.article1{
    width: 90%;
    background-color: darkgreen;
    height: 200px;
    margin-top: 15px;
}
.contenidorcaixa{

    width: 80%;

    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.caixa{

    flex: 40%;
    height: 80px;
    background-color: aqua;
    margin: 10px;
    min-width: 300px;
}
.aside{
    flex: 25%;
    display: flex;
    flex-wrap: wrap;


}
.caixaaside{

    flex: 30%;
    min-width: 180px;
    height: 230px;
    background-color: darkgray;
    margin: 10px;


}
