*{
    padding: 0;
    margin: 0;
}
.back{
    position: fixed;
    top: 15px;
    left: 15px;
}




.divtitol{
        background-color: grey;
        width: 100%;
        height: 100px;
/*        position: absolute;*/

}
.llista {
    padding-left:10%;
}

.titol{

    text-align: center;
    position: relative;
    bottom: -22px;
    font-size: 48px;
    font-family: 'K2D', sans-serif;
}
.principal{

    background-color: gainsboro;
    width: 100%;
    height: 1400px;
    position: relative;

}
.infoto{

    background-color: none;
    height: 300px;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 80px;


}
.informacio{

    width: 50%;
    height: 300px;
    background-color: darkgray;
    float: left;

}
.foto{
    background-color: darkgrey;
    width: 50%;
    height: 300px;
    float: left;
    overflow: hidden;


}
.foto img{
    width: 100%;;
    height:100%;
    max-height: 300px;
}
.text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

}
.text ~ .text {

    margin-top: 3%;
}
.practiques{
    position: absolute;
    width: 60%;
    height: 900px;
    left: 20%;
    top: 470px;
    background-color: darkgray;
}

.footer{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 1400px;
    background-color: gray;

}
.caixes{

    background-color: dimgrey;
    width: 50px;
    height: 50px;
    float: left;

}
#infooo{
    position: relative;
    margin-left: 10%;
    margin-top: 17px;

}

#facebook{
    position: relative;
    margin-left: 10%;
    margin-top: 17px;


}
#insta{
    position: relative;
    margin-left: 15%;
    margin-top: 17px;


}
#twitter{
    position: relative;
    margin-left: 15%;
    margin-top: 17px;

}
.imatge1{

    width: 100%;
    height: 100%;
}
.caixes:hover{


    cursor:grab;
    transform:scale(1.5);

}
.text1{

    background-color: dimgrey;
    width: 150px;
    height: 50px;
    float: left;

}
@media(max-width:1000px){
  .infoto{

    background-color: darkgray;
    height: 300px;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 80px;


}
    .practiques{
    position: absolute;
    width: 80%;
    height: 900px;
    left: 10%;
    top: 470px;
    background-color: darkgray;
}
}
.preprac{
    background-color: aqua;
    width: 40%;
    height: 300px;
       margin-left:400px;

}
.titprac{

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2%;
}
.prac{
    font-size: 20px;
    padding-left: 50px;
    padding-bottom: 15px;
    display: block;
    color: black;
    text-decoration-line: none;



}
.prac:hover{
    background-color: darkslategrey;

}
.linea {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

}

