*{
    padding: 0;
    margin: 0;
}

.backk{


    background-color: darkgray;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 22px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding:10px 20px;

}
.backk:hover
{
    background-color: black;
    color: aliceblue;
}
