*{
    padding: 0;
    margin: 0;
}
.flixnet-color{
    color: #DB202C;
}
a:focus{
    color:#DB202C;
}

.dtl11 {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.dtl11 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dtl11 .dtl {
    background: #333;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0 15px;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dtl11 .dtl h3 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.dtl11 .dtl p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #9d9c9c;
    text-indent: 10px;
}
.dtl11 .dtl a {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    float: right;
    font-size: 13px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
}
.dtl11 .dtl a:hover {
    background: #e6e6e6;
    border: 1px solid #adadad;
}
.dtl11:hover img {
    opacity: 0;
}
.dtl11:hover .dtl {
    visibility: visible;
    opacity: 1;
}
